@model P6_P3.Models.ViewModels.AnuncioViewModel
@{
    ViewBag.Title = "Agregar Anuncio";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Anuncios", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @*@Html.LabelFor(d => d.Fecha)
            @Html.TextBoxFor(d => d.Fecha, new { @class = "form-control" })*@

            @Html.LabelFor(d => d.Descripcion)
            @Html.TextBoxFor(d => d.Descripcion, new { @class = "form-control" })

            @Html.LabelFor(d => d.Horas)
            @Html.TextBoxFor(d => d.Horas, new { @class = "form-control" })

            @*@Html.LabelFor(d => d.Usuario1)
            @Html.TextBoxFor(d => d.Usuario1, new { @class = "form-control" })*@

            <div style="text-align:right;">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }
    </div>
</div>