@model List<P6_P3.Models.TableViewModels.AnunciosTableViewModel>
@{
    ViewBag.Title = "MyIndex";
}

<h2>Mis Anuncios</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Anuncios/Add")'" value="Nuevo" />

    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>IdAnuncio</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Horas</th>
                <th>Usuario</th>
                <th>UsuarioID</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td> @item.IdAnuncio </td>
            <td> @item.Fecha </td>
            <td> @item.Descripcion </td>
            <td> @item.Horas </td>
            <td> @item.UsuarioName </td>
            <td> @item.Usuario1 </td>
            <td>
                <input onclick="document.location.href='@Url.Content("~/Anuncios/Edit/"+item.IdAnuncio)'" type="button" value="Editar" class="btn btn-default" />
                <input onclick="jsDelete(@item.IdAnuncio);" @*"document.location.href='@Url.Content("~/Anuncios/Delete")'"*@ type="button" value="Eliminar" class="btn btn-danger" />
            </td>
        </tr>
            }

        </table>

    </div>

</div>

<script>
    function jsDelete(id) {

        if (confirm("¿Confirma que desea eliminar el anuncio?")) {

            url = "@Url.Content("~/Anuncios/Delete")" + "/" + id;

            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Anuncios/MyIndex")"
                } else {
                    alert("Oh vaya, ocurrió un error...")
                }
            })
        }
    }
</script>